* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    display:flex;
    flex-flow:column;
    height: 100vh;
}
  
a {
    text-decoration: none;
}

.heading-container, .title-container, .footer-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

.heading-container {
    padding: 10px;
}

.heading-container a, .awesome-sub{
    color: #E5E7EB;
    font-size: 12px;
    font-weight: lighter
}

.header-links {
    display:flex;
    gap: 20px;
}
.logo, .awesome {
    font-size: 20px;
    color: #F9FAF8;
}

.title-container {
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.title-container img {
    height: 150px;
    width: 350px;
}

.signup-container {
    width: 350px;
}

.awesome {
    font-size: 36px;
    font-weight: 700;
}

.awesome-sub {

}

.signup, .action-box{
    background-color: #3882f6;
    color: #F9FAF8;
}
.signup {
    padding: 4px 20px;
    border-radius: 6px;
    margin: 10px;
    border: 0;
    box-shadow: none;
}

.info-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.box {
    height: 100px;
    width: 100px;
    border-radius:6px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 3px;
}

.image {
    width: 100px;
    text-align: center;
}

.box-sub {
    font-size: 12px;
    text-align: center;
}

.info-title {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    margin: 20px;
}

.title-container, .quote-container {
    color:#1f2937;
}

.quote-container {
    flex: auto;
    text-align: justify;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.inspiring-quote {
    font-size: 30px;
    font-weight:lighter;
    font-style: italic;
}

.author {
    font-weight: 700;
    font-size: 14x;
    align-self: flex-end;
}

.quote {
    width: 700px;
    display:flex;
    flex-flow:column;
    padding: 50px;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    display:flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    border-radius: 6px;
    margin: 50px;
    font-size: 10px;
}

.action-header {
    font-size: 14px;
    font-weight: 600
}

.action-box button {
    border-color: #E5E7EB;
    border: 2px solid;
}

.footer-container {
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 20px;
    font-size: 12px;
}
